<a href="https://colab.research.google.com/github/VaaruniAR/Data-Handing-Visualization/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
a=[1,7.2,2]
myvar=pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [2]:
print(myvar[0])

1.0

In [3]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [4]:
print(myvar["y"])

7

In [5]:
thisdict={"brand":"ford","model":"mustang","year":1964}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [6]:
s1=pd.Series([-3,-1,1,3,5,'gaurav',7.3])
print(s1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [7]:
s1[:2]

0    -3
1    -1
dtype: object

In [8]:
print(s1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [9]:
print(s1[2])

1

In [10]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [11]:
print(myvar["y"])

7

In [12]:
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [13]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])

1

In [14]:
data={"calories":[420,380,390],"duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [16]:
print(df.loc["rank2"])

Name    Jack
Age       34
Name: rank2, dtype: object

In [17]:
df["ID"]=[10,10,20,30]
print(df)

        Name  Age  ID
rank1    Tom   28  10
rank2   Jack   34  10
rank3  Steve   29  20
rank4  Ricky   42  30

In [18]:
df["ID"].unique()

array([10, 20, 30])

In [19]:
df["ID"].value_counts()

10    2
20    1
30    1
Name: ID, dtype: int64